.button_primary {
    border-radius: 30px;
    // border: 1px solid #FFFDF4;
    background: linear-gradient(88deg, #F4DFCB -10.02%, #EDCEA0 103.5%);
    line-height: normal;
    color: #A70000;
    font-weight: 600;
}

.button_neutral {
    border-radius: 30px;
    border: 1px solid #DED3BE;
    background: rgba(255, 255, 255, 0.70);
    backdrop-filter: blur(6px);
    line-height: normal;
    color: #936E43;

}

.button_blur {
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.90);
    color: #936E43;
    line-height: normal;
}

.btn_disabled {
    background: #F0F0F0 !important;
    border: unset !important;
    color: #B5AEA5 !important;
}