.generate_panel {
    .img_container {
        height: 85%;

        .fullLook_btn {
            position: absolute;
            bottom: 16px;
            left: 50%;
            transform: translateX(-50%);
            padding: 6px 20px;

        }

        .main_img {
            height: 100%;

        }
    }


    .select_body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 12px;

        .selecte_img {
            border: 1px solid transparent;
        }

        .selected_img {
            // border: 1px solid #D54C4D;
            border-color: #D54C4D;
        }

        .img_item {
            // width: calc((100vw - 76px) / 3);
            height: calc((100vw - 76px) / 3);
        }
    }

    .generate_remind {
        color: #987553;

        font-family: "PingFang SC";
        font-style: normal;
        font-weight: 400;
        line-height: 22px;

        /* 157.143% */

    }

    .content {
        .modal_icon {
            position: absolute;
            top: -60px;
            left: 50%;
            transform: translateX(-50%);
        }

        .title {
            color: #936E43;
            font-family: "PingFang SC";
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            text-align: center;
            margin-bottom: 20px;
        }

        .desc {
            color: #936E43;
            font-family: "PingFang SC";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;

        }

        .modal_footer {
            margin-top: 80px;
            display: flex;

            .save_btn {
                flex: 1;
                margin-right: 12px;
            }

            .other_btn {
                flex: 1;
                padding: 4px 16px !important;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

.again_btn {
    flex: 1 !important;
    padding: 12px 0 !important;
}


.back_btn {
    flex: 1 !important;
    padding: 12px 0 !important;
}

.complete_btn {
    flex: 1 !important;
    padding: 12px 0 !important;
}

.full_img_container {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    position: relative;

    .arrow_btn_left {
        position: fixed;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
        background: rgba($color: #000000, $alpha: 0.4);
        padding: 8px;
        border-radius: 50%;
    }

    .arrow_btn_right {
        position: fixed;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        background: rgba($color: #000000, $alpha: 0.4);
        padding: 8px;
        border-radius: 50%;
    }

    .full_img_item {
        width: 100%;
        height: 100%;
        // height: 100vh;
        object-fit: cover;
        display: flex;
        scroll-snap-align: center;
        scroll-snap-stop: always;
    }
}