@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./loading.css";

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
  font-family: "Union-Telegraph-NF";
}

@font-face {
  font-family: "Union-Telegraph-NF";
  src: url("/src/assets/font/Union-Telegraph-NF.ttf");
  font-weight: bold;
  font-style: normal;
}
