.letter_question {

    background-blend-mode: multiply;

    .bg_2_3 {
        width: 89%;
    }

    .question_body {
        // color: #000000;
        // position: absolute;
        padding: 100px 24px 24px;
        font-family: 'Union-Telegraph-NF';

        // padding-bottom: 24px;
        .question_item {
            margin-bottom: 24px;
            padding: 20px;
            background-color: #fff;
            border-radius: 12px;
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10);

            .choosed_question {
                background: #D54C4D;
                color: #ffffff;
            }

            .divide_line {
                height: 1px;
                width: 100%;
                background-color: #911313;
                position: relative;
                margin: 2px 0 12px 0;

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: translate(50%, -50%) rotate(45deg);
                    /* 旋转右侧小方块 */
                    width: 5px;
                    height: 5px;
                    /* 小方块的高度 */
                    background-color: #911313;
                    /* 小方块的颜色 */
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translate(-50%, -50%) rotate(45deg);
                    /* 旋转左侧小方块 */
                    width: 5px;
                    height: 5px;
                    /* 小方块的高度 */
                    background-color: #911313;
                    /* 小方块的颜色 */
                }
            }

            .item_title {
                font-size: 24px;
            }

            .cus_textarea {
                border: 1px solid #dce1e5;
                min-height: 50px;
                width: 100%;
            }

            .cus_input {
                border: 1px solid #dce1e5;
                width: 100%;
            }
        }
    }
}


.content_body {
    color: #ffffff;
    backdrop-filter: blur(6px) saturate(80%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    border-radius: 10px;
    padding: 8px;
}

.select-container {
    position: relative;
    user-select: none;
}

.select-selected {
    position: relative;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
    padding: 8px 16px;
    color: #333;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 50%;
    right: 10px;
    margin-top: -5px;
    border: solid transparent;
    border-width: 0 5px 5px;
}

.select-items {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;
    padding: 8px 16px;
}

.select-items div:hover {
    background-color: #eee;
}